<div class="container">
<!-- Displaying nearest houses to destination -->
  <h3 style="padding:20px">Nearest house from Eberswalder Straße55.</h3>
  <div class="row" *ngFor="let house of sortListByDistance; let i=index;" class="animated bounceInLeft">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 ]" *ngIf="i != 0">
      <ul class="event-list">
        <li>
          <img alt="House logo" src="http://www.clker.com/cliparts/8/9/9/d/11949855741697952186small_house_01.svg" />
          <div class="info">
            <h2 class="title">{{house.street}}</h2>
            <p class="desc">{{house.distance}} Kms</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- displaying list of houses contain more than 5 rooms -->
  <h3 style="padding:20px">House with more than 5 rooms</h3>
  <div class="row" *ngFor="let house of sortListByNoOfRooms; let i=index;" class="animated bounceInLeft">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 ]">
      <ul class="event-list">
        <li>
          <img alt="House logo" src="http://www.clker.com/cliparts/8/9/9/d/11949855741697952186small_house_01.svg" />
          <div class="info">
            <h2 class="title">{{house.street}}</h2>
            <p class="desc">{{house.params.rooms}} Rooms</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- finally the how i am moving into -->
  <h3 style="padding:20px"> The house i am moving into</h3>
  <div class="row" *ngIf="movingHouse">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 ]">
      <ul class="event-list">
        <li>
          <img alt="House logo" src="http://www.clker.com/cliparts/8/9/9/d/11949855741697952186small_house_01.svg" />
          <div class="info">
            <h2 class="title">{{movingHouse.street}}</h2>
            <p class="desc">{{movingHouse.distance}} Kms</p>
            <p class="desc">{{movingHouse.params.rooms}} Rooms</p>
            <p class="desc">{{movingHouse.params.value}} €</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
